@import "tailwindcss";

@theme{

  --color-primary-green: #D3FF00;
  --color-primary-dark-green: #3E5C00;
  --color-primary-light-green: #F3FF9E;

  --color-secundary-purple: #6C00FF;
  --color-secundary-dark-purple: #5400C6;
  --color-secundary-light-purple: #BC8FFF;

  /* Cores neutras | Neutral Colors */

  --color-white: #f9f9f9;
  --color-grayp: #212529;
  --color-gray1: #1c1c1c;
  --color-gray2: #707070;
  --color-gray3: #bdbdbd;

  /* Cores de Sistema | System Colors */

  --color-confirm: #53ff00;
  --color-information: #f3f500;
  --color-error: #ff0053;
  --color-warning: #ffac00;

  --font-bebas: 'Bebas_Neue';
  --font-roboto: 'Roboto';
}